.autocomplete-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;

  $height: 3em;
  $background-size: 1.5em;

  input {
    width: 100%;
    height: $height;

    margin: 0;
    padding: 0 3.2em 0 1em;

    box-sizing: border-box;
    text-overflow: ellipsis;

    // outline: none;                       // from theme
    // border: 1px solid $color-blur;       // from theme
    // color: $color-blur;                  // from theme

    background-image: url(./images/search.svg);
    background-size: $background-size;
    background-position: right 1em top ($height - $background-size)/2;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-color: #fff;

    transition: border-color 0.4s ease;

    &:focus, &:hover {
      border-color: #0f0;
      //color: $color-focus;
    }

    &::placeholder {
      color: rgba(65, 65, 65, 0.5);
      transition: all 0.3s ease;
    }

    &:hover::placeholder {
      color: rgba(65, 65, 65, 0.6);
      transition: all 0.3s ease;
    }

    &:focus::placeholder {
      color: rgba(65, 65, 65, 0.4);
    }

    // &:hover {
    //   color: rgba(65, 65, 65, 0.8);
    //   transition: all 0.3s ease;
    // }

    //&:focus {
    //  color: rgba(65, 65, 65, 1);
    //  border: 0.06rem solid rgba(65, 65, 65, 0.8);
    //}
  }

  $result-line-height: 1.6; // from the theme
  $result-font-size: 18px; // from the theme

  .autocomplete-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 0;
    margin-top: 0;
    margin-left: 0;

    max-height: (($result-line-height * $result-font-size) + $result-font-size) * 7;
    overflow-y: auto;
    box-sizing: border-box;

    background-color: #fff;
    box-shadow: 0 3px 6px rgba(149, 157, 165, 0.2);
    border: 1px solid #0f0;
    border-top: none;

    z-index: 1000;
    outline: none;
    list-style: none;

    transition: opacity 0.15s ease-in-out;

    > li {
      margin: 0;
      padding: .5em 1em;
      cursor: pointer;
      text-align: left;
      border-bottom: 1px solid #eee;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover, &::selection, &[aria-selected="true"] {
        color: #fff;
        background-color: #5aa6d4;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .autoComplete_wrapper {
    width: 320px;
  }

  #autoComplete {
    width: 18rem;
    background-size: 1.6rem;
    background-position: left 1.1rem top 0.75rem;
  }

  #autoComplete_list {
    margin: 10px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #autoComplete {
    border-width: 1px;
  }
}

@-moz-document url-prefix() {
  #autoComplete {
    background-size: 1.2rem;
    background-origin: border-box;
    border-width: 1px;
    background-position: left 1.1rem top 0.8rem;
  }
}
