.store-locator-map, .store-locator-results {
  margin-top: 1em;
}

.store-locator-results {
  ul {
    list-style: none;
    margin: 0;

    li {
      margin-left: 0;
      padding-top: 1em;
      padding-bottom: 1em;
      border-bottom: 1px solid #999;

      transition: background-color 0.25s ease-in;

      &.active, &:hover {
        background-color: #dedede;
      }

      &:last-child {
        border-bottom: none;
      }

      p {
        margin: 0;
      }

      .name {
        font-weight: bold;
      }

      .store-locator-result-opening-hours {
        margin-top: 1em;
        font-size: 0.8em;
      }
    }
  }
}

@media all and (min-width: 500px) {
  .store-locator-results {
    ul {
      li {
        display: flex;

        .store-locator-result-contact {
          width: 60%;
          flex-grow: 0;
          flex-shrink: 0;
        }

        .store-locator-result-opening-hours {
          width: 40%;
          flex-grow: 0;
          flex-shrink: 0;
          margin-top: inherit;
        }
      }
    }
  }
}
